#vis {
    position: relative;
    width: 1300px;
    height: 700px;
    background-color: #f5f5f5;
    margin: 0 auto;
    z-index: 1;
    padding: 10px;
    /* overflow: visible; */

    /* scroll */
    overflow: auto;
}

.container {
    overflow: auto;
}

.dot {
    fill: #1f77b4;
    stroke: #fff;
    stroke-width: 1.5;
}

/* Default font */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
